* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  cursor: pointer;
}

.title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 40%;
  background-color: #ffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  border-bottom: 1.5px #ddd solid;
}

.tasksTitle {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-bottom: #ddd 1.5px solid;
}

.form input {
  width: 85%;
  font-size: 1.2rem;
  font-style: italic;
  padding-left: 1%;
  outline: none;
  border: none;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #ddd solid;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.taskInput {
  display: flex;
  width: 90%;
}

#info {
  padding-left: 5px;
  width: 100%;
  font-style: normal;
  font-weight: 300;
}

.taskCompleted {
  text-decoration: line-through;
  outline: none;
  border: none;
  margin-left: 2%;
  margin-top: 2%;
  font-weight: 600;
  font-size: 1rem;
}

.edit {
  outline: none;
  border: none;
  margin-left: 2%;
  margin-top: 2%;
  font-weight: 600;
  font-size: 1rem;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #dbe1ec;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background-color: rgb(155, 186, 219);
  color: black;
}
